.section {
  &__header {
    background: $main_color;
    text-align: center;
    padding: 10px;
    font-size: 1.6rem;
    color: $white_color;
  }

  &__main {
    margin: 30px;
  }
}

.header {
  background-image: linear-gradient(to bottom, #bfece3, #fff);

  &__top-img img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
  }

  &__sub-text {
    padding: 3rem;
  }

  .title-img {
    position: fixed;
    top: 10px;
    max-width: 300px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      padding: 20px;
      border: 2px dashed $background_color;
      font-size: 1.5rem;
      margin: 2rem 0;
      font-weight: 500;
      text-align: center;
    }
  }

  .content {
    justify-content: start;

    &__list {
      padding: 2rem 6rem;
    }

    li {
      list-style: disc;
      font-weight: 500;
      font-size: 1.2rem;
      text-align: justify;
    }
  }
}


.material {}

.method {

  .title {
    background-color: $background_color;
    color: #fff;
    padding: 1rem;
    font-size: 2.5rem;
  }

  &__map img {
    width: 100%;
    object-fit: cover;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #eefafa;
  }

  .table-bordered th,
  .table-bordered td {
    border: 3px solid $background_color;
  }

  .table thead th {
    vertical-align: middle;
    border-bottom: 2px solid $background_color;
  }

  .table th,
  .table td {
    vertical-align: middle;
    border-top: 1px solid $background_color;
  }

  h1 {
    color: $background_color;
  }

  h5,
  h3 {
    color: $text_color;
  }


}

.footer {
  &__img img {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    opacity: 0.6;
  }
}