//color
$gray_color: #99a0aa;
$gray_light_color: #c7c7c7;
$gray_weight_color: #4d545d;
$white_color: rgb(255, 255, 255);
$black_color: #010101;
$red_light_color: #ff000091;
$youtue_color: rgb(255, 0, 0);
$main_color: #4149CB;
$text_color: #061C58;
$background_color: #02A2E7;

//size
$max-width: 1200px;