// ---------------- reset
* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style: none;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// ---------------- variable
//color
$gray_color: #99a0aa;
$gray_light_color: #f9f9f9;
$gray_weight_color: #4d545d;
$white_color: rgb(255, 255, 255);
$black_color: #010101;
$red_light_color: #ff000091;
$youtue_color: rgb(255, 0, 0);
$main_color: #558fca;
$text_color: #061C58;
// $background_color: #02A2E7;
$background_color: #0e628f;

//size
$max-width: 960px;

// ---------------- mixin
// ---------------- utils
.text-center {
    text-align: center !important;
}

.text-bold {
    font-weight: bold !important;
}


// ---------------- global
body,
input,
button,
select {
    font-family: 'Roboto Condensed', sans-serif !important;
}

body {
    background-color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $background_color;
}

p {
    font-size: 1.2rem;
}

.wrapper {
    max-width: $max-width;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    background-image: linear-gradient(to bottom, rgba(165, 228, 215, 0.5), rgba(255, 255, 255, 0.5));
    z-index: 999;

    &:before {
        content: '';
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("../img/watermark.png");
        background-repeat: repeat;
        background-size: 300px 300px;
        z-index: 9999;
    }
}

.box-border {
    border-radius: 0 0 0 7px;
    border: 1px dashed $background_color;
    padding: 20px;
    width: 100%;

    &__process {
        border-radius: 0 7px 7px 7px;
        border-right: 10px solid $background_color;
    }

    &__full-radius {
        border-radius: 7px;
    }

    li {
        padding: 0.5rem;
    }
}

.label-box {
    text-align: center;
    font-weight: 600;
    font-size: 1.4rem;
    background: $background_color;
    padding: 1.5rem;
    color: #fff;
}

.box-list {
    display: flex;
    margin-bottom: 2.4rem;

    &__avarta {
        flex-basis: 34%;
        border: 2px solid $background_color;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__main {
        flex-basis: 66%;
        display: flex;
        flex-direction: column;

        &__header {
            background: $background_color;
            padding: 0.8rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: $white_color;
            position: relative;

            &.tail-left {
                margin-left: 40px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: -40px;
                    top: 0px;
                    width: 40px;
                    height: 100%;
                    box-sizing: border-box;
                    background-image: url("../img/title-tail.png");
                    background-repeat: repeat-y;
                    background-position: right top;
                    transform: rotate(180deg);
                }
            }

            &.tail-right {
                margin-right: 40px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    right: -40px;
                    top: 0px;
                    box-sizing: border-box;
                    width: 40px;
                    height: 100%;
                    background-image: url("../img/title-tail.png");
                    background-repeat: repeat-y;
                    background-position: right top;
                }
            }
        }

        &__content {
            flex-grow: 1;
            font-size: 1.2rem;

            .list-text {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &--algin-top {
                    justify-content: flex-start;

                    li {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    &--full {
        .box-list__avarta {
            flex-basis: 16%;
        }

        .box-list__main {
            flex-basis: 84%;
        }
    }
}

.box-flag {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    &__avarta {
        border: 2px solid $background_color;
        margin-bottom: 15px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__main {
        border-top: 1px solid $background_color;
        display: flex;
        margin-bottom: 15px;

        .pin-flag {
            flex-shrink: 0;
            flex-grow: 0;
        }

        &__text {
            padding-left: 2%;
            padding-top: 2%;
            flex-grow: 1;
            flex-shrink: 1;
            font-weight: 600;
            font-size: 1.2rem;
            text-align: justify;
        }
    }

    &--algin-hoz {
        flex-direction: row;
    }

    &--full {
        .box-flag__avarta {
            margin-right: 30px;
            flex-basis: 50%;
        }

        .box-flag__main {
            flex-basis: 50%;
        }
    }
}

.pin-flag {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    width: 52px;
    height: 100px;
    background: $background_color;
    font-size: 2rem;
    color: $white_color;
    position: relative;
    box-sizing: border-box;

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 0px;
        box-sizing: border-box;
        border-left: 26px solid transparent;
        border-right: 26px solid transparent;
        border-bottom: 16px solid $white_color;

    }
}

.list-text {
    li::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $background_color;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 1.4em;
        /* Also needed for space (tweak if needed) */
        margin-left: -1.4rem;
        text-align: center;
        font-size: 1.2rem;
    }

    li {
        margin-left: 1.4rem;

        .content {
            margin-left: 0.5rem;
        }
    }
}

.list-node {
    &__item {
        font-size: 1.3rem;
        min-height: 70px;
        border-left: 4px solid $background_color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-left: 10px;

        &__note {
            font-size: 0.8rem;
            font-style: italic;
        }

        &__text {
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        &:before {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: $background_color;
            position: absolute;
            top: calc(50% - 3px);
            left: -8px;
        }
    }

    &__arrow {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0px 4px;

        span:nth-child(2) {
            font-size: 1.4rem;
            color: $background_color;
        }

        &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 2px solid $background_color;
            border-radius: 50%;
        }

        &__line {
            display: inline-block;
            width: 36px;
            border-top: 2px solid $background_color;
            position: relative;
            margin-right: 12px;

            &:after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-top: 5px solid transparent;
                border-left: 10px solid $background_color;
                border-bottom: 5px solid transparent;
                position: absolute;
                left: 100%;
                bottom: -4px;
            }
        }
    }
}

.text {
    &--right {
        text-align: right;
    }

    &__list-title {
        font-size: 1.2rem;
        font-weight: 600;
    }

    &__md-bold {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.mobile-only {
    display: none;
}

// ---------------- section
.section {
    &__header {
        display: flex;
        justify-content: center;
        margin: 0 30px;
        text-align: center;
        padding: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        color: $white_color;
        background: linear-gradient(90deg, rgba(14, 98, 143, 0.9) 100%, rgba(14, 98, 143, 0.9) 100%, rgba(14, 98, 143, 0.9) 100%), url("../img/title-watermark.jpeg");

        &__text-under {
            padding-right: 32px;
            text-align: right;
        }

        &__text {
            position: relative;
        }

        &__icon {
            width: 70px;
            position: absolute;
            top: -22px;
            left: -80px;

            &--md {
                width: 90px;
                position: absolute;
                top: -18px;
                left: -100px;
            }

            &--xl {
                width: 120px;
                top: -25px;
                left: -160px;
            }
        }
    }

    &__main {
        margin: 30px;
    }
}

.picture {
    &__top-img img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
    }

}

.header {


    .content__list {
        font-size: 1.4rem;

        .highlight {
            color: $background_color;
            font-weight: bold;
        }
    }

    &__sub-text {
        padding: 3rem;
    }

    .title-img {
        position: fixed;
        top: 10px;
        max-width: 300px;
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 30px;

        &__title {
            padding: 20px;
            border: 2px dashed $background_color;
            font-size: 1.5rem;
            margin: 2rem 0;
            font-weight: 500;
            text-align: center;
            position: relative;

            img {
                height: 54px;
                position: absolute;
                left: calc(50% - 157px);
                top: -32px;
            }
        }
    }

    .content {
        justify-content: start;
        margin-right: 30px;
        margin-left: 20px;

        &__list {
            padding: 1.5rem 0;
        }

        li {
            font-weight: 500;
            font-size: 1.2rem;
            text-align: justify;
        }
    }
}

.material {
    .box {
        margin-top: 1.5rem;
        border: 3px solid $background_color;

        &__label {
            text-align: center;
            font-weight: 600;
            font-size: 1.4rem;
            background: $background_color;
            padding: 1.5rem;
            color: #fff;
        }

        &__item {
            text-align: center;
            margin-bottom: 1rem;

            &__border {
                border-right: dashed 1px $background_color;
                border-left: dashed 1px $background_color;

                img {
                    width: 100%;
                }
            }

            &__title {
                text-align: center;
                font-weight: 800;
                margin: 1rem 0;
                font-size: 1.2rem;
            }
        }
    }

    .content {

        .img-content {
            margin-top: 1.5rem;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 3rem;
            background: linear-gradient(90deg, $background_color 0%, $background_color 50%, rgba(255, 255, 255, 0.302959) 100%), url("../img/showroom.jpg");
            background-size: cover;

            .hightlight {
                background: $main_color;
                font-weight: 600;
                color: #fff;
                padding: 0 0.25rem;
            }

            &__main-content {
                font-size: 1.2rem;
                color: $white_color;
                text-align: justify;

                &:first-letter {
                    font-size: 3.2em;
                    float: left;
                    margin-top: 0.6rem;
                    margin-right: 0.4rem;
                    line-height: 2rem;
                }
            }
        }
    }


    &__map img {
        width: 100%;
        object-fit: cover;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #eefafa;

        .custom-white-color {
            color: white;
        }
    }

    .table .thead-dark th {
        background-color: $background_color;
        border-color: $background_color;
    }

    .table thead th {
        vertical-align: middle;
        border-bottom: 2px solid $background_color;
    }

    .table th,
    .table td {
        vertical-align: middle;
        border-top: 1px solid $background_color;
    }

    &__customize {
        &__icon {
            width: 25px;
            margin: 0 1rem;
        }

        font-size: 1.4rem;

        &__phone {
            color: #f7ff00;
        }
    }

}

.method {
    &__map img {
        width: 100%;
        object-fit: cover;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #eefafa;

        .custom-white-color {
            color: white;
        }
    }

    .table .thead-dark th {
        background-color: $background_color;
        border-color: $background_color;
    }

    .table thead th {
        vertical-align: middle;
        border-bottom: 2px solid $background_color;
    }

    .table th,
    .table td {
        vertical-align: middle;
        border-top: 1px solid $background_color;
    }
}

.process {
    &__header {
        display: flex;

        img {
            height: 54px;
            z-index: 2;
        }
    }

    .box-list__main__header {
        margin-left: -14px;

        &:after {
            content: '';
            display: block;
            width: 54px;
            height: 100%;
            background: white;
            position: absolute;
            top: 0px;
            left: -37px;
            border-radius: 50%;
        }

        &:before {
            position: absolute;
            right: -20px;
            top: 0px;
        }

        span {
            padding-left: 14px;
            white-space: nowrap;
        }
    }

    .section__main {
        padding-left: 17px;

        &>.row {
            &>div:nth-child(2) {
                margin-left: 10px;
                margin-top: -2px;
            }
        }
    }

    .timeline {
        position: relative;
        max-width: 600px;
    }

    &__customize-margin {
        margin-left: 12px;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: $background_color;
        top: 0;
        bottom: 0;
        margin-left: 9px;
    }

    .container {
        padding: 10px 40px;
        padding-right: 0px;
        position: relative;
        background-color: inherit;

        h2,
        p {
            color: white;
        }
    }

    .container::after {
        content: '';
        position: absolute;
        margin-left: 18px;
        width: 20px;
        height: 20px;
        right: -17px;
        background-color: white;
        border: 2px solid $main_color;
        top: 20px;
        border-radius: 7px;
        z-index: 1;

        h2,
        p {
            color: white;
        }
    }

    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent $background_color transparent transparent;
    }

    .right::after {
        left: -16px;
    }

    .content {
        padding: 20px 30px;
        background-color: $background_color;
        position: relative;
        border-radius: 7px;
    }
}

.resources {
    &__phone-icon {
        width: 50px;
        margin-top: 5px;
    }

    &__content {
        margin-left: 20px;
    }

    &__override {
        .row {
            margin-right: -8px;
            margin-left: -8px;
        }
    }
}

.example {
    .box-list {
        &__avarta {
            img {
                width: 150px;
            }
        }
    }
}

.footer {
    overflow: hidden;

    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        opacity: 0.6;
    }
}

// ---------------- responsive
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .header {
        &__price__title {
            margin: 1.5rem 0;
        }

        .content__list {
            padding: 1rem 0;
        }
    }

    .section {
        &__header {
            &__text-under {
                text-align: center;
                padding-right: 0;
            }

            &__text {
                padding-left: 70px;
            }

            &__icon {
                left: -14px;

                &--md {
                    left: -10px;
                }

                &--xl {
                    width: 80px;
                    left: -10px;
                }
            }
        }
    }

    .material {
        .box {
            &__item {
                &__border {
                    img {
                        width: 60%;
                    }
                }
            }
        }
    }

    .box-list {
        &--full {
            .box-list__avarta {
                flex-basis: 42%;
            }
        }

        &__avarta {
            overflow: hidden;

            img {
                width: 125%;
                height: auto;

                &.stretch-height {
                    width: 133%;

                    &--ssm {
                        width: 100%;
                        max-height: 246px;
                    }

                    &--xsm {
                        width: 136%;
                    }

                    &--sm {
                        width: 143%;
                    }

                    &--md {
                        width: 144%;
                    }

                    &--xl {
                        width: 152%;
                    }

                    &--xxl {
                        width: 164%;
                    }
                }
            }
        }
    }

    .img-content {
        padding: 1rem !important;

        &__main-content {
            max-width: 100% !important;
        }
    }

    .example {
        .box-list {
            display: flex;
            flex-direction: column;

            &__avarta img {
                width: 100%;
            }
        }

        div:nth-child(3),
        div:nth-child(7),
        div:nth-child(10) {
            .box-list {
                flex-direction: column-reverse;
            }
        }
    }

    .material {
        .box__item__border {
            img {
                width: 45%;
            }
        }
    }

    .mobile-only {
        display: unset;
    }

    .not-mobile {
        display: none;
    }

    .resources {
        &__web-page {
            margin-left: 70px;
        }
    }

    .list-node {
        &__item {
            &__text {
                font-size: 1rem;
            }
        }

        &__arrow span:nth-child(2) {
            font-size: 1.2rem;
            white-space: nowrap;
        }
    }
}

.process {
    @media screen and (max-width: 600px) {

        /* Place the timelime to the left */
        .timeline::after {
            // left: 31px;
        }

        /* Full-width containers */
        .container {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        .content {
            margin-left: -30px;
        }

        /* Make sure that all arrows are pointing leftwards */
        .container::before {
            // left: 60px;
            border: medium solid $background_color;
            border-width: 10px 10px 10px 0;
            border-color: transparent $background_color transparent transparent;
        }

        /* Make sure all circles are at the same spot */
        .right::after {
            // left: 15px;
        }

        /* Make all right containers behave like the left ones */
        .right {
            left: 0%;
        }
    }
}

// ---------------- @import "~bootstrap/scss/bootstrap";